*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Cabin Sketch";
    src: url(fonts/Cabin_Sketch/CabinSketch-Regular.ttf);
}

body {
    font-family: "Cabin Sketch";
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0a0a0a;
    color: #fff;
    height: 100vh;
}

header {
    padding: 2rem 0;
    font-size: 1.4rem;
}

main {
    flex: 1;
    display: grid;
    place-content: center;
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center; */
}

.board-container {
    display: grid;
    grid-template:
        repeat(3, minmax(100px, 20vh)) /
        repeat(3, minmax(100px, 20vh));
    background-image: url("images/board.png");
    background-size: cover;
    /* scales image to cover the container */
    background-position: center;
    /* centers the image */
    background-repeat: no-repeat;
    /* avoids tiling */
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

footer {
    padding: 1.1rem 0;
}

.copy {
    font-size: 1.8rem;
}
